@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&family=Bubblegum+Sans&family=Quicksand:wght@700&display=swap');


body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'serif';
}

h1,
h2,
h3,
h4,
button,
.price {
  font-family: 'serif';
}

header {
  background-color: #B00020;
}

header h1 {
  margin: 0;
  padding: 20px;
  font-family: 'serif';
  font-weight: normal;
  color: #FFFFFF;
}

main {
  background-color: white;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
}

.productInList {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 50px 100px;
  background-color: #E0E0E0;
}

.productInList h3 {
  cursor: pointer;
}

.productInList img {
  float: right;
  width: 30%;
}

.product img {
  float: right;
  width: 40%;
  margin: 0 20px 40px 20px;
}

.backButton {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #212121;
  color: white;
}

.product .price {
  float: right;
  margin-top: -10px;
}

.buyButton {
  cursor: pointer;
  
}

.shoppingCart {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}

.shoppingCart td {
  padding: 2px 10px;
  text-align: right;
}

.shoppingCart td:nth-child(2) {
  text-align: left;
}

.shoppingCart tr:last-child {
  padding-top: 10px;
  font-weight: bold
}

.navButtons {
  float: right;
  margin-top: -45px;
  padding-right: 20px;
}

.closeCart {
  position: fixed;
  right: 25px;
  top: 25px;
}

button {
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: grey;
  opacity: 0.5;
}

.modal {
  display: none;
  position: fixed;
  top: 20vh;
  height: 60vh;
  left: 20vw;
  width: 60vw;
  background-color: #E0E0E0;
  padding: 20px;
  border-radius: 10px;
}

.modal input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.modal button {
  float: right;
}

.logout {
  display: none;
}